<div class="simplecheckout-block" id="simplecheckout_text_<?php echo $text_type ?>">
    <?php if ($display_header) { ?>
    <div class="checkout-block_heading panel-heading"><?php echo $text_title ?></div>
    <?php } ?>
    <div class="simplecheckout-block-content">
      <div id="text_<?php echo $text_id ?>"><?php echo $text_content ?></div>
    </div>
</div>