.well{
    border-radius: 0;
    box-shadow: none;
    background-color: #f5f5f5;
    border: none;
    padding: 15px;
}
.dropdown-menu{
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 0;
    min-width: 100%;
    > li{
        > a{
            &:focus,
            &:hover{
                background-color: #DC0335;
                color: #fff;
            }
        }
    }
}
.navbar-collapse{
    padding: 0;
    position: absolute;
    width: 100%;
    right: 25px;
    top: 100%;
    z-index: 10;
}
.navbar-toggle{
    margin: 3px 0;
}

label.error{
    font-size: 12px;
    font-weight: 300;
    color: #DC0335;
    margin: 5px 0 0;
}
.buttons{
    margin-top: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-control{
    height: 45px;
    padding: 15px 20px;
    font-size: 13px;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    box-shadow: none !important;
    &:focus{
		border-color: #c5c5c5;
		background-color: #fff;
	}
}
.has-error .form-control{
    border-color: #dc0335;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled].btn{
    opacity: 1;
}
.btn{
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align-last: center;
}
.btn-primary{
    border-radius: 0;
    padding: 0 20px;
    color: #fff;
    background-color: #dc0335;
    border: 1px solid transparent;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    position: relative;
    min-width: 230px;
    &:before{
        content: "";
        display: block;
        width: 50%;
        height: 10px;
        background: radial-gradient(#cbcbcb 45%, transparent);
        transform: rotateZ(2deg);
        position: absolute;
        bottom: 0;
        right: -1px;
        opacity: 0;
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-bottom-right-radius: 2px;
        z-index: -1;
    }
    &:hover,
    &:active,
    &:focus{
        background-color: #dc0335 !important;
        border-color: transparent !important;
        &:before,
        &:after{
            opacity: 1;
        }
        &:before{
            bottom: -5px;
        }
    }
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to left, #C60135, transparent);
        position: absolute;
        opacity: 0;
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    span{
        position: relative;
        z-index: 1;
    }
    [class^="icon-"],
    [class*=" icon-"]{
        position: absolute;
        right: 20px;
        z-index: 1;
        top: calc(50% - 7px);
        line-height: 1em;
        font-size: 14p;
    }
}
.btn-default{
    @extend .btn-primary;
    color: #000;
    border-color: #000;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active{
        background-color: #000 !important;
        border-color: #000 !important;
        color: #fff !important;
    }
    &:after{
        content: none;
    }
}
.btn-sm{
    min-width: 190px;
}
.btn-xs{
    min-width: 135px !important;
    font-size: 13px;
    font-weight: bold;
    height: 30px;    
    line-height: 30px !important;
    [class^="icon-"],
    [class*=" icon-"]{
        right: 10px;
    }
}
.btn-block{
    min-width: 100%;
}
.buttons{
    position: relative;
    z-index: 1;
}

.top_line{
    border-right: 1px solid #727272;
    border-left: 1px solid #000;
    font-size: 14px;
    font-weight: 500;
}
    .top_line-item_wrapp{
        border-right: 1px solid #000;
        border-left: 1px solid #727272;
        text-align: center;
    }
        .top_line-item{
            display: inline-block;
            position: relative;
            padding: 15px 15px 15px 30px;
        }
            .top_line-item_icon{
                font-size: 1.5em;
                list-style: 1em;
                position: absolute;
                left: 0;
                top: calc(15px - 0.25em);
            }

.logo-img{
    height: 75px;
}

.main_menu-wrapp{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 75px;
}
    .main_menu-btn{
        border: none;
        height: 30px;
        float: right;
        background-color: transparent;
        span{
            display: block;
            position: relative;
            width: 30px;
            height: 3px;
            background: #333;
            transition: all 0.25s ease-in-out;
            &:after,
            &:before{
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #333;
                content: "";
                transition: all 0.4s ease-in-out;
            }
            &:before{
                top: -8px;
            }
            &:after{
                bottom: -8px;
            }
        }
        &.active{
            z-index: 15;
            position: fixed;
            top: 20px;
            right: 15px;
            span{
                background-color: transparent;
                &:before{
                    top: 0;
                    transform: rotate(45deg);
                    background-color: #fff;
                }
                &:after{
                    bottom: 0;
                    transform: rotate(-45deg);
                    background-color: #fff;
                }
            }
        }
    }
    .main_menu{
        list-style: none;
        line-height: 14px;
        margin: 0;    
    }
        .main_menu-item{
            float: left;
            margin-right: 30px;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
            &.active{
                .main_menu-item_inside{
                    font-weight: bold;
                    &:after{
                        width: 16px;
                        opacity: 1;
                    }
                }
            }
            &:hover{
                .main_menu-item_inside{
                    &:after{
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
            .main_menu-item_inside{
                color: #4e4e4e;
                text-transform: uppercase;
                position: relative;
                display: block;
                padding: 5px 0;
                &:after{
                    content: "";
                    display: block;
                    height: 2px;
                    background-color: #e40d19;
                    left: 0;
                    bottom: -2px;
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    transition: all 0.25s ease-in-out;  
                }
                &:hover,
                &:focus,
                &:active{
                    color: #4e4e4e;
                }
            }
    .main_menu-item_dropdown{
        box-shadow: 2.8px 2.8px 7px 0 rgba(132, 132, 132, 0.21);
        border: 1px solid #eaeaea;
        border-radius: 0;
        font-weight: 300;
        left: -20px;
        top: calc(100% + 15px);
        padding: 0;
        overflow: visible;
        > li{
            > a{
                padding: 15px 20px;
                font-weight: 300;
                &:hover,
                &:active{
                    color: #fff;
                    background-color: #DC0335;
                }
            }
            + li{
                border-top: 1px solid #f4f4f4;
            }
        }
    }

.user_menu-wrapp{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 75px;
}
    .user_menu{
        display: inline-block;
        text-align: justify;
        width: 100%;
        line-height: 14px;
        text-align-last: justify;
        position: relative;
    }
        .user_menu-item{
            color: #333;
            font-size: 16px;
            line-height: 14px;
            &.active{
                color: #DC0335;
            }
        }
.language_switcher-wrapp{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 75px;
}
    .language_switcher{
        display: inline-block;
        text-align: justify;
        width: 100%;
        line-height: 14px;
        text-align-last: justify;
    }
        .language_switcher-item{
            color: #333;
            line-height: 1em;
            position: relative;
            display: inline-block;
            padding: 5px 0;
            text-transform: uppercase;
             &.active:after{
                content: "";
                display: block;
                height: 2px;
                background-color: #333;
                left: 0;
                bottom: -2px;
                position: absolute;
                width: 100%;
                transition: all 0.25s ease-in-out;  
            }
        }

.main_slider,
.main_slider .slick-track,
.main_slider-slide_desc_wrapp{
    height: 500px;
}
.main_slider{
    position: relative;
    margin: 0;
    &:before{
        content: "";
        display: block;
        width: 15%;
        height: 30%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right bottom, #ececec, transparent 50%);
    }
}
    .main_slider-slide{
        height: 100%;
        background: url("../images/main_slider-bg.png") left 5% center no-repeat;
        
    }
        .main_slider-slide_img{
            margin-top: 50px;
            display: inline-block;
            max-height: 400px;
            z-index: 1;
            position: relative;
        }
        .main_slider-slide_desc_wrapp{
            display: table;
            width: 100%;
            background-color: #2D2D2D;
            position: relative;
            &:before{
                content: "";
                display: block;
                position: absolute;
                right: 100%;
                top: 0;
                width: 0;
                height: 0;
                border-bottom: 500px solid #2D2D2D;
                border-left: 600px solid transparent;
            }
        }
            .main_slider-slide_desc{
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                text-align: center;
            }
                .main_slider-slide_title{
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 30px;
                    strong{
                        font-size: 41px;
                        font-weight: bold;
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }
                }

.section-title{
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 35px;
    &:before{
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background: url("../images/flag.svg") left center no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:after{
        content: "";
        display: block;
        border-bottom: 2px dotted #c5c5c5;
        position: absolute;
        bottom: 0;
        left: 70px;
        right: 0;
    }
}

.category{
    text-align: center;
    padding: 35px 10px;
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #fff;
    &:hover{
        background-color: #F5F5F5;
    }
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 9px;
        background: radial-gradient(farthest-corner at left center, #efefef, transparent);
        transform: rotateZ(-1deg);
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-bottom-right-radius: 2px;
        z-index: -1;
    }
    &:nth-child(even):before{
        transform: rotateZ(1deg);
        right: 0;
         background: radial-gradient(farthest-corner at right center, #efefef, transparent);
    }
}
    .category-short_desc{
        position: relative;
        z-index: 1;
        .btn{
            min-width: 200px;
        }
    }
    .category-img,
    .category-title{
        margin-bottom: 30px;
    }
    .category-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.3em;
        span{ 
            font-weight: 300;
        }
    }

.banner{
    height: 290px;
    display: block;
    background-size: cover;
    color: #fff;
    padding: 60px 30px 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
     &:nth-child(even){
        color: #000;
    }
}
    [class^="banner_icon-"],
    [class*=" banner_icon-"]{
        display: block;
        width: 150px;
        margin: 0 auto 25px;
        height: 150px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .banner_icon-1{
        background-image: url("../images/icons/features/feature_1.svg");
    }
    .banner_icon-2{
        background-image: url("../images/icons/features/feature_2.svg");
    }
    .banner_icon-3{
        background-image: url("../images/icons/features/feature_3.svg");
    }

.bottom_line{
    @extend .top_line;
}
    .bottom_line-item_wrapp{
        @extend .top_line-item_wrapp;
    }
        .bottom_line-item{
            @extend .top_line-item;
            color: #fff !important;
        }

.request_call-form{
    line-height: 1.3em;
}

.article_module{
    margin-bottom: 30px;
}
    .article_module-article{
        padding-bottom: 20px;
        border-bottom: 1px dashed #c5c5c5;
        + .article_module-article{
            margin-top: 20px;
        }
        &.main{
            min-height: 275px;
            background-size: cover;
            background-color: #3D3D3D;
            padding: 0;
            border-bottom: none;
            color: #fff;
            padding: 25px 30px;
            position: relative;
            .article_module-btn{
                &:before{
                    content: none;
                }
            }
            &:after{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.75);
                z-index: 1;;
            }
            > *{
                position: relative;
                z-index: 2;
            }
            .article_module-article_title{
                font-size: 27px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .article_module-article_short_desc{
                margin-bottom: 30px;
                line-height: 1.5em;
            }
        }
    }
        .article_module-article_title{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 15px;
        }
        .article_module-article_short_desc{
            margin-bottom: 15px;
            line-height: 1.5em;
        }
        .article_module-article_rmb{
            color: #737272;
            font-size: 12px;
            line-height: 1.4em;
            text-transform: lowercase;
        }

.copyright_line{
    padding: 15px 0;
    border-top: 1px solid #fff;
    font-size: 12px;
    color: #fafafa;
}
    .copyright_line-studio_link_wrapp{
        text-align: right;
    }
        .copyright_line-studio_link{
            color: #fafafa;
            [class^="icon-"],
            [class*=" icon-"]{
                font-size: 16px;
                position: relative;
                top: 3px;
                line-height: 12px;
            }
        }

.scrolltop-btn{
    width: 55px;
    display: none;
    height: 55px;
    background-color: #dc0335;
    position: fixed;
    right: 0;
    top: calc(50% - 55px);
    border: none;
    z-index: 10;
    [class^="icon-"],
    [class*=" icon-"]{
        font-size: 24px;
        color: #fff;
        transform: rotate(-90deg);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        line-height: 55px;
    }
}

.callback-btn{
    width: 55px;
    height: 55px;
    background-color: #dc0335;
    position: fixed;
    left: 0;
    top: calc(50% - 55px);
    border: none;
    z-index: 10;
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    [class^="icon-"],
    [class*=" icon-"]{
        line-height: 55px;
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        font-size: 24px;
        color: #fff;
    }
    .icon-phone{
        visibility: visible;
        opacity: 1;
    }
    .icon-close{
        visibility: hidden;
        opacity: 0;
        font-size: 17px;
    }
    &.visible{
        left: 205px;
        .icon-phone{
            visibility: hidden;
            opacity: 0;
        }
        .icon-close{
            visibility: visible;
            opacity: 1;
        }
    }
}
.callback{
    width: 260px;
    position: fixed;
    top: calc(50% - 55px);
    left: -260px;
    z-index: 10;
    background-color: #f6f6f6;
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.visible{
        left: 0;
    }
}
    .callback-header{
        background-color: #dc0335;
        height: 55px;
        color: #fff;
        padding: 15px 20px;
    }
        .callback-header_title{
            margin: 0;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.5em;
        }
    .callback-body{
        padding: 20px 15px 30px;
        border: 1px solid #c5c5c5;
    }

.breadcrumb-wrapp{
    background-color: #f4f4f4;
    margin: 5px 0 35px;
}
    .breadcrumb{
        background-color: transparent;
        font-size: 12px;
        padding: 0;
        margin: 0;
        color: rgba(51, 51, 51, 0.4);
        > li{
            position: relative;
            + li{
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-top: 21px solid transparent;
                    border-left: 10px solid #d6d6d6;
                    border-bottom: 20px solid transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-top: 21px solid transparent;
                    border-left: 9px solid #f4f4f4;
                    border-bottom: 20px solid transparent;
                }
                > a,
                > span{
                    padding-left: 25px;
                }
            }
            > a,
            > span{
                padding: 15px 15px 15px 0;
                display: block;
                line-height: 1em;
            }
        }
        a{
            color: #333;
            &:hover,
            &:focus,
            &:active{
                color: #e40d19;
            }
        }
    }

.text_part{
    ul,
    ol{
        list-style: none;
        li{
            padding-left: 60px;
            position: relative;
            + li{
                margin-top: 25px;
            }
            &:before{
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background-color: #e10023;
                position: absolute;
                left: 30px;
                top: calc(0.8em - 5px);
            }
        }
    }
}

.contact_form-wrapp{
    background-color: #f2f2f2;
    padding: 35px 95px;
}
.contact_form-title{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
}
.contact_form{
    .form-group{
        margin-bottom: 15px;
        > [class*="-6"]{
            &:first-child{
                padding-right: 10px;
            }
            &:last-child{
                padding-left: 10px;
            }
        }
    }
}
.contact_info{
    list-style: none;
    font-size: 18px;
    margin: 0;
}
    .contact_info-item{
        padding-left: 75px;
        position: relative;
        line-height: 1.3em;
        + .contact_info-item{
            margin-top: 50px;
        }
        a{
            color: #333;
            &:hover,
            &:focus,
            &:active{
                color: #e40d19;
            }
        }
    }
        .contact_info-item_icon{
            position: absolute;
            left: 15px;
            top: 0;
            font-size: 32px;
            color: #dc0335;
            width: 30px;
            text-align: center;   
            &.icon-email{
                font-size: 22px;
            }
        }
    .contact_info-phones{
        display: inline-block;
        a ~ a{
//            font-size: 14px;
//            line-height: 1.3em;
            display: block;
//            text-align: right;
        }
    }

.article-list{
    margin-bottom: 20px;
}
.article{
    padding: 25px 0;
    border-bottom: 1px dashed #c5c5c5;
    &:first-child{
        padding-top: 0;
    }
}
    .article-img{
        max-height: 200px;
        margin: 0 auto;
    }
    .article-title{
        color: #242424;
        font-size: 18px;
        font-weight: bold;
        margin: 25px 0 15px;
    }
    .article-short_desc{
        color: #242424;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .article-rmb{
        color: #737272;
        text-transform: lowercase;
    }

.top_info-wrapp{
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 30px;
}
    .top_info{
        padding: 30px 60px;
        border: 1px dashed #c7c7c7;
        font-size: 18px;
        text-align: center;
        line-height: 1.33em;
    }

.product{
    border: 1px solid #ebebeb;
    padding: 30px 40px;
    position: relative;
    overflow: hidden;
    + .product{
        margin-top: 10px;
    }
    &:hover{
        background-color: #F5F5F5;
    }
}
    .product-title{
        color: #242424;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .product-short_desc{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .product-attributes{
        list-style: none;
        margin: 0;
        > li{
            position: relative;
            padding-left: 20px;
            line-height: 1.2em;
            &:before{
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                background-color: #e10023;
                left: 0;
                top: calc(0.6em - 6px);
            }
            + li{
                margin-top: 5px;
            }
        }
    }
    .product-btns_wrapp{
        padding: 15px 15px 0 0;
    }
        .product-stock_status{
            color: #adadad;
            text-align: center;
            margin-top: 15px;
            line-height: 1.33em;
            white-space: nowrap;
            [class^="icon-"],
            [class*=" icon-"]{
                vertical-align: top;
            }
            span{
                display: inline-block;
                text-align: left;
                white-space: pre-line;
            }
        }
    .product-label{
        background-color: #ccc;
        color: #fff;
        text-align: center;
        font: 16px "Arial", sans-serif;
        position: absolute;
        left: -17px;
        top: 70px;
        width: 140px;
        padding: 2px 5px;
        z-index: 1;
        transform: rotate(-45deg);
        transform-origin: 0 50%;
        &.new{
            background-color: #00944A;
        }
        &.special{
            background-color: #DB0234;
        }
    }

.pagination{
    margin: 20px 0 0;
    > li{
        display: inline-block;
        + li{
            margin-left: 1px;
        }
        > a,
        > span{
            border-radius: 0 !important;
            line-height: 35px;
            height: 35px;
            width: 30px;
            text-align: center;
            padding: 0;
            color: #3b3b3b;
            border: 1px solid #ebebeb;
        }
    }
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
    border-color: transparent;
    background-color: transparent;
    color: #333;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    background-color: #3b3b3b;
    color: #fff;
}

.ui-checkboxradio-label {
    padding: 5px 5px 5px 25px !important;
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    list-style: 1.2em;
    .ui-icon-background{
        box-shadow: inset 0px 2px 5px 0 rgba(142, 142, 142, 0.35);
        border: 1px solid #dbdbdb;
        position: absolute;
        left: 0;
        top: calc(0.6em - 6px);
        border-radius: 0;
        width: 16px;
        height: 16px;
    }
}
.ui-checkboxradio-checked{
    .ui-icon-background:before{
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        top: 2px;
        left: 2px;
        background-color: #e10023;
        position: absolute;
    }
}

.product_preview-thumbs{
    margin-top: 45px;
}
    .product_preview-thumbs_img_wrapp{
        padding: 15px;
        border: 1px solid #ebebeb;
        cursor: pointer;
        + .product_preview-thumbs_img_wrapp{
            margin-top: 10px;
        }
        &.slick-current{
            border-color: #3B3B3B;
        }
    }
.product_preview-image_wrapp{
    padding: 45px;
}
.product_preview-title{
    font-size: 32px;
    font-weight: bold;
    margin: 45px 0 15px;
    color: #242424;
}
.product_preview-short_decs{
    font-size: 20px;
    color: #242424;
    margin-bottom: 25px;
}
.product_preview-attributes_table{
    margin: 0 0 30px;
    width: 100%;
    td{
        width: 50%;
        padding: 15px 20px;
        &:first-child{
            font-weight: 500;
        }
    }
}
.product_preview-price_wrapp{
    margin-bottom: 30px;
}
    .product_preview-price{
        font-weight: bold;
        font-size: 30px;
        span{
            font-size: 18px;
        }
    }
    .product_preview-old_price{
        color: rgba(36, 36, 36, 0.5);
        margin-left: 15px;
        text-decoration: line-through;
        font-size: 20px;
        span{
            font-size: 16px;
        }
    }
.product_preview-stock_status{
    @extend .product-stock_status;
    display: inline-block;
    margin: 0;
    text-align: left;
}
.product_preview-cart_btn + .product_preview-stock_status{
   margin: 0 0 0 25px;
}


.modal-content{
    border-radius: 0;
}
.modal-header{
    background-color: #dc0335;
    color: #dc0335;
}
.modal-title{
    color: #fff;
    font-size: 18px;
    margin: 0;
    line-height: 1.33em;
    letter-spacing: 0.2px;
    display: inline-block;
}
.modal-close_btn{
    float: right;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
}
.alert{
    border-radius: 0;
    line-height: 1.4em;
    font-weight: 500;
}
.alert-danger{
    background-color: #DC0335;
    color: #fff;
    border-color: #DC0335;
}
.nav-tabs{
    border: none;
    background-color: #ebebeb;
    margin-bottom: 55px;
}
    .nav-tabs > li{
        margin: 0;
    }
        .nav-tabs > li > a{
            border-radius: 0;
            margin: 0;
            color: #333;
            padding: 10px 20px;
            border: none;
            &:hover{
                background-color: #F4F4F4;
            }
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
            border: none;
            background-color: #dc0335;
            color: #fff;
        }


.review-form{
   padding: 35px 25px;
    background-color: #f2f2f2;
}
    .review-form_title{
        font-size: 23px;
        margin-bottom: 25px;
    }
.review{
    + .review{
        border-top: 1px dashed #ccc;
        margin-top: 15px;
        padding-top: 15px;
    }
}
    .review-author{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .review-text{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 24px;
    }
    .review-date{
        color: rgba(51, 51, 51, 0.5);
    }


.authorization_modal{
	a{
		color: #333;
		&:hover,
		&:active,
		&:focus{
			color: #333;
			text-decoration: underline;
		}
	}
	.form-control{
		width: 100% !important
	}
	.modal-body{
		position: relative;
        &.message:before{
            content: none;
        }
		&:before{
			content: "";
			width: 1px;
			height: 100%;
			top: 0;
			left: 50%;
			background-color: #d1d1d1;
			position: absolute;
		}
	}
}
.authorization_modal-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}
.authorization_modal-register,
.authorization_modal-login{
	padding: 45px 70px;
}
	.authorization_modal-login_icons{
		list-style: none;
		margin: 0;
		text-align: center;
	}
		.authorization_modal-login_icons_item{
			display: inline-block;
            float: none;
			margin: 0 7px;
            width: auto;
            height: auto;
            color: #333;
            padding: 0 5px;
            font-size: 24px;
            transition: all 0.25s ease-in-out;
            &:hover,
            &:active,
            &:focus{
                text-decoration: none !important;
                color: #aa3c3c !important;
            }
        }


.cart{
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 30px;
}
    .cart-product{
        background-color: #fff;
        padding: 30px;
        position: relative;
        + .cart-product{
            margin-top: 15px;  
        }
    }
        .cart-product_title{
            font-size: 24px;
            font-weight: bold;
            color: #242424;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .cart-product_total_price{
            font-size: 20px;
            font-weight: bold;
            span{
                font-size: 16px;
                font-weight: 300;
            }
        }
        .cart-product_rb_wrapp{
            position: static;
        }
            .cart-product_rb{
                position: absolute;
                top: 50%;
                right: 30px;
                font-size: 16px;
                margin-top: -0.5em;
                line-height: 1em;
                background-color: transparent;
                border: none;
            }
        .cart-product_quantity{
            position: relative;
            margin-bottom: 15px;
        }
            .cart-product_quantity_btn{
                width: 18px;
                height: 18px;
                background-color: #dc0335;
                color: #fff;
                font-size: 10px;
                text-align: center;
                border: none;
            }
            .cart-product_quantity_input{
                width: 40px;
                height: 40px;
                line-height: 40px;
                padding: 5px;
                margin: 0 5px;
                border: 1px solid #e7e7e7;
            }
.cart-total_price_label{
    font-size: 18px;
    font-weight: 300;
}
.cart-total_price{
    font-size: 24px;
    font-weight: bold;
    span{
        font-size: 18px;
        font-weight: bold;
    }
}

.customer_type-label_wrapp{
    display: inline-block;
    + .customer_type-label_wrapp{
        margin-left: 6px;
    }
}
.customer_type-label{
    padding: 0;
    background-color: #f2f2f2;
    padding: 13px 10px;
    min-width: 270px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    
    &.active{
        background-color: #dc0335;
        color: #fff;
    }
}

.checkout-block{
    .form-group{
        width: 50%;
        float: left;
        margin: 18px 0 0;
        &:first-child{
            margin-top: 0;
            + .form-group{
                margin-top: 0;
            }
        }
        &:nth-of-type(even){
            [class^="col-"],
            [class*=" col-"]{
                padding-left: 9px;
                padding-right: 0;
            }
        }
        &:nth-of-type(odd){
            [class^="col-"],
            [class*=" col-"]{
                padding-right: 9px;
                padding-left: 0;
            }
        }
        &.customer_type ~ *:nth-of-type(odd){
            [class^="col-"],
            [class*=" col-"]{
                padding-left: 9px;
                padding-right: 0;
            }
        }
        &.customer_type ~ *:nth-of-type(even){
            [class^="col-"],
            [class*=" col-"]{
                padding-right: 9px;
                padding-left: 0;
            }
        }
        &.customer_type{
            float: none;
            width: 100%;
            margin: 0;
            [class^="col-"],
            [class*=" col-"]{
                padding: 0;
            }
            + .form-group{
                margin-top: 30px;
                + .form-group{
                    margin-top: 30px;
                }
            }
        }
    }
}
.checkout-block_heading{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.cart_dropdown{
    left: auto;
    right: 0;
    width: 320px;
    top: calc(100% + 10px);
    padding: 0 0 10px;
    border-top: none;
    box-shadow: 2.8px 2.8px 7px 0 rgba(132, 132, 132, 0.21);
    border: 1px solid #eaeaea;
    border-radius: 0;
    font: 14px "Arial", sans-serif;
    transition: all 0.5s ease;
    opacity: 1;
    overflow: visible;
    &.invisible{
        opacity: 0;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        animation: none !important;
    }
    &:before,
    &:after{
        content: ""; 
        position: absolute;
        right: 65px;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid #ccc;
    }
    &:after{
        border-bottom: 10px solid #fff;
        top: -19px; 
    }
}
.cart_dropdown-message{
    padding: 15px;
    text-align: left;
    text-align-last: left;
}
.cart_dropdown-message_text{
    margin-bottom: 10px;
}
.cart_dropdown-message_img{
    float: left;
    display: block;
    margin-right: 30px;
}

// -------------------------------
.open > .dropdown-menu {
  animation-name: slidenavAnimationLeft;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimationLeft;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimationLeft;
  -moz-animation-duration: 0.25s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
.open > .cart_dropdown{
    animation-name: slidenavAnimationRight;
    -webkit-animation-name: slidenavAnimationRight;
    -moz-animation-name: slidenavAnimationRight;
}
@keyframes slidenavAnimationLeft {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: -20px;
  }
}
@-webkit-keyframes slidenavAnimationLeft {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: -20px;
  }
}
@keyframes slidenavAnimationRight {
  from {
    opacity: 0;
    right: 0;
  }
  to {
    opacity: 1;
    right: -20px;
  }
}
@-webkit-keyframes slidenavAnimationRight {
  from {
    opacity: 0;
    right: 0;
  }
  to {
    opacity: 1;
    right: -20px;
  }
}

.account-simpleedit,
.account-password,
.account-address,
.account-order{
    .section-title{
        display: none;
    }
}

.quick_order-body{
    padding: 45px 60px;
}
.quick_order-customer_info{
    margin: 30px -60px 0;
    padding: 30px 51px 0;
    border-top: 1px solid #efefef;
    .row{
        margin: 0 -9px;
    }
    [class^="col-"],
    [class*=" col-"]{
        padding-left: 9px;
        padding-right: 9px;
    }
    .form-group{
        margin-bottom: 0;
        + .form-group{
            margin-top: 18px;
        }
    }
}
.quick_order-product_title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}
.quick_order-product_img{
    display: block;
    margin: 0 auto;
}
.quick_order-price_wrapp{
    @extend .product_preview-price_wrapp;
    margin-bottom: 20px;
}
    .quick_order-price{
        @extend .product_preview-price;
        font-size: 20px;
        spna{
            font-size: 18px;
        }
    }
    .quick_order-old_price{
        @extend .product_preview-old_price;
        font-size: 16px;
        span{
            font-size: 14px;
        }
    }
.quick_order-product_attributes{
    @extend .product-attributes;
    margin-bottom: 20px;
}
.quick_order-product_quantity_label{
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    margin: 0;
}
.quick_order-product_quantity{
    @extend .cart-product_quantity;
    display: inline-block;
    margin: 0 0 0 30px;
}
.quick_order-product_quantity_btn{
    @extend .cart-product_quantity_btn;
}
.quick_order-product_quantity_input{
    @extend .cart-product_quantity_input;
}

.main_slider-arrow_wrapp{
    position: relative;
}
    .main_slider-arrow{
        position: absolute;
        top: -115px;
        left: 30px;
    }
        .main_slider-arrow_part{
            transform: rotateZ(90deg);
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            text-align: center;
            &:nth-child(1){
                font-size: 1.5em;
                color: #EFEFEF;
                animation: arrow_part_move_1 0.75s linear infinite alternate;
            }
            &:nth-child(2){
                font-size: 3em;
                color: #E4E4E4;
                animation: arrow_part_move_2 0.75s linear infinite alternate;
            }
            &:nth-child(3){
                font-size: 4.5em;
                color: #D5D5D5;
                animation: arrow_part_move_3 0.75s linear infinite alternate;
            }
        }

@keyframes arrow_part_move_1 {
    0%   {opacity: 0.5; margin-top: 0}
    100% {opacity: 1; margin-top: 5px}
}
@keyframes arrow_part_move_2 {
    0%   {opacity: 0.5; margin-top: 0}
    100% {opacity: 1; margin-top: 10px}
}
@keyframes arrow_part_move_3 {
    0%   {opacity: 0.5; margin-top: 0}
    100% {opacity: 1; margin-top: 15px}
    
}

.main_slider-slide_triangle{
    position: absolute;
    border-bottom: 210px solid #2D2D2D;
    border-left: 768px solid transparent;
    bottom: 100%;
    left: 0;
}