
@media screen and (max-width: 1199px) and (min-width: 991px){
    .top_line,
    .bottom_line{
        font-size: 12px;
    }
    .article_module-article.main .article_module-article_title{
        margin-bottom: 20px;
    }
    
    .customer_type-label{
        min-width: 230px;
    }
}
@media screen and (max-width: 991px){
    .breadcrumb > li > a,
    .breadcrumb > li > span{
        padding: 10px 15px 10px 0;
    }
    .breadcrumb > li + li{
        &:before{
            border-top: 16px solid transparent;
            border-bottom: 15px solid transparent;
        }
        &:after{
            border-top: 16px solid transparent;
            border-bottom: 15px solid transparent;
        }
    }
    
    .btn{
        font-size: 13px;
        font-weight: bold;
    }
    .btn-primary,
    .btn-default{
        line-height: 40px;
        min-width: 200px;
        [class^="icon-"],
        [class*=" icon-"]{
            right: 10px;
        }
    }
    
    .section-title{
        font-size: 22px;
    }
    
    .main_menu-wrapp{
        justify-content: flex-end;
    }
    .main_menu-item{
        margin-right: 20px;
    }
    
    .user_menu-wrapp,
    .language_switcher-wrapp{
        position: absolute;
        top: 0;
        width: 90px;
        height: auto;
        justify-content: flex-start;
    }
    .user_menu-wrapp{
        right: 100px;
    }
    .language_switcher-wrapp{
        right: 0;
    }
        .language_switcher-item{
            padding-top: 0;
        }
    
	.main_slider,
    .main_slider .slick-track,
    .main_slider-slide_desc_wrapp{
        height: 360px;
    }
        .main_slider-slide{
            background-position: -15% center;
            background-size: 60% auto;
        }
            .main_slider-slide_desc{
                img{
                    max-width: 210px;
                }
            }
                .main_slider-slide_title{
                    font-size: 14px;
                    strong{
                        font-size: 35px;
                    }
                }
                .main_slider-slide_img{
                    max-height: 210px;
                    height: 210px;
                    margin-top: 75px;
                }
    
    .banner{
        height: 190px;
        padding: 20px 30px 30px;
    }
        [class^="banner_icon-"],
        [class*=" banner_icon-"]{
            height: 90px;
            width: 90px;
            margin-bottom: 15px;
        }
    
    .article_module-article.main{
        .article_module-article_title{
            font-size: 23px;
            margin-bottom: 10px;
        }
        .article_module-article_short_desc{
            margin-bottom: 25px;
        }
    }
    .article_module-article_title{
        font-size: 14px;
    }
    .article_module-article_short_desc{
        font-size: 13px;
        margin-bottom: 10px;
    }
    
    .bottom_line-item{
        padding: 15px 0;
    }
    
    .product-btns_wrapp{
        padding: 0 15px;
    }
    .product-attributes{
        margin-bottom: 25px;
    }
    .product-stock_status{
        text-align: left;
    }
    
    .product_preview-thumbs{
        margin-top: 15px;
    }
    .product_preview-image_wrapp{
        padding: 15px;
    }
    .product_preview-title{
        margin: 15px 0;
        font-size: 28px;
    }
    .product_preview-short_decs{
        font-size: 18px;
    }
    .product_preview-cart_btn + .product_preview-stock_status{
        margin-left: 15px;
    }
    .product_preview-price{
        font-size: 26px;
    }
    .product_preview-attributes_table{
        font-size: 12px;
    }
    .product_preview-attributes_table td{
        padding: 10px;
    }
    
    .review-form{
        margin-top: 30px;
    }
    .review-author{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .review-text {
        margin-bottom: 10px;
        line-height: 20px;
    }
    
    .nav-tabs{
        margin-bottom: 30px;
    }
    
    .authorization_modal-register,
    .authorization_modal-login{
        padding: 30px;
    }
    
    .contact_info{
        margin-top: 0;
        font-size: 16px;  
        margin-bottom: 30px;
    }
        .contact_info-item{
            padding-left: 55px;
            + .contact_info-item{
                margin-top: 0;
            }
        }
            .contact_info-item_icon{
                font-size: 26px;
                left: 15px;
                &.icon-email{
                    font-size: 16px;
                }
            }
    
    .article-title{
        margin-top: 0;
    }
    
    .callback-btn,
    .scrolltop-btn{
        width: 50px;
        height: 50px;
        top: 75%;
        [class^="icon-"],
        [class*=" icon-"]{
            line-height: 50px;
        }
    }
    
    .text_part ul li + li,
    .text_part ol li + li{
        margin-top: 15px;
    }
}
@media screen and (max-width: 767px){
    .main_slider{
        &:before{
            content: none;
        }
    }
    .main_slider,
    .main_slider .slick-track,
    .main_slider-slide_desc_wrapp{
        height: auto;
    }
    .main_slider-slide{
        background: transparent;
    }
        .main_slider-slide_img{
            display: block !important;
            margin: 0 auto;
        }
        .main_slider-slide_desc_wrapp{
            &:before{
                content: none;
            }
        }
            .main_slider-slide_desc{
                padding: 40px 0;
            }
    
    .logo-img{
        height: 50px;
        max-width: none;
    }
    
    .main_menu-wrapp{
        height: auto;
    }
    .main_menu{
        position: fixed;
        width: 210px;
        height: 100%;
        right: -210px;
        top: 0;
        background: rgba(51, 51, 51, 0.95);
        z-index: 10;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        display: flex;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        &.open{
            opacity: 1;
            right: 0;
        }
    }
        .main_menu-item{
            float: none;
            margin: 0;
            +.main_menu-item{
                border-top: 1px solid #333;
            }
        }
            .main_menu-item_inside{
                color: #fff;
                text-align: center;
                padding: 15px;
                &:hover,
                &:active,
                &:focus{
                    background-color: #DC0335;
                    color: #fff;
                }
                &:after{
                    content: none;
                }
            }

    .category{
        background-color: #f5f5f5;
        margin: 0 15px;
        + .category{
            margin-top: 15px;
        }
    }
    
    .banner{
        margin: 0 15px;
        height: 220px;
        padding: 40px 60px;
    }
    
    .article_module-article{
        &.main{
            margin-bottom: 30px;
            min-height: inherit;
        }
        + .article_module-article{
            margin-top: 30px;
        }
    }
    
    .bottom_line{
        padding: 15px 0;
        display: inline-block;
        border: none;
    }
    .bottom_line-item_wrapp{
        text-align: left;
        border: none;
    }
        .bottom_line-item{
            padding: 10px 0;
        }

    .copyright_line-copyright,
    .copyright_line-studio_link_wrapp{
        text-align: center;
    }
    .copyright_line-studio_link_wrapp{
        margin-top: 15px;
    }
    
    .callback-btn,
    .scrolltop-btn{
        bottom: 0;
        top: auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
        [class^="icon-"],
        [class*=" icon-"]{
            font-size: 16px;
            line-height: 40px;
        }
    }
    
    .product_preview-thumbs_img_wrapp{
        padding: 10px;
    }
    
    .contact_info-item + .contact_info-item{
        margin-top: 15px;    
    }
    
    .contact_form-wrapp{
        padding: 30px;
    }
    .contact_form .form-group > [class*="-6"]:first-child{
        padding-right: 15px;
        margin-bottom: 15px;
    }
    .contact_form .form-group > [class*="-6"]:last-child{
        padding-left: 15px;
    }
}