@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?eh84w7');
  src:  url('../fonts/icomoon.eot?eh84w7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eh84w7') format('truetype'),
    url('../fonts/icomoon.woff?eh84w7') format('woff'),
    url('../fonts/icomoon.svg?eh84w7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feature:before {
  content: "\e900";
}
.icon-angle-arrow-right:before {
  content: "\e901";
}
.icon-novaposhta:before {
  content: "\e902";
}
.icon-double_angle_right:before {
  content: "\e903";
}
.icon-skype:before {
  content: "\e904";
}
.icon-viber:before {
  content: "\e905";
}
.icon-zoom:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e90c";
}
.icon-like:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-ok:before {
  content: "\e90f";
}
.icon-vk:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-ws:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-profile:before {
  content: "\e916";
}
.icon-instagram:before {
  content: "\e917";
}
.icon-shoppingcart:before {
  content: "\e918";
}
.icon-settings:before {
  content: "\e919";
}
.icon-mobile_phone:before {
  content: "\e91a";
}
