@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
html,
body{
    overflow-x: hidden;
    width: 100%;
}
body{
	font: 300 14px "HelveticaNeueCyr", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
img{
	max-width: 100%;
    max-height: 100%;
}
p,
ul,
ol{
	line-height: 1.6em;
    margin-bottom: 30px;
}
h1, h2, h3, h4, h5{
	margin-top: 0;
}
a{
    color: #e40d19;
    transition: all 0.25s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: #e40d19;
        text-decoration: none;
    }
}
section{
    margin-top: 40px;
}