#top_line,
#page_footer{
    background-color: #3b3b3b;
    color: #fff;
}
#top_line{
    margin-top: 0;
}
#page_header{
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
}
#page_footer{
    margin-top: 60px;
}
#main_wrapp{
    flex: 1;
    margin: 0;
}