@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){
    #page_header{
        padding: 20px 0;
        .container{
            position: relative;
        }
    }
}
@media screen and (max-width: 767px){
    #page_footer{
        text-align: center;
    }
}